/* General */

body {
    background-color: rgb(201, 196, 196);
    padding: 0;
    align-items: flex-start;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    font-size: 13px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.dropOpen{
    opacity: 1 !important;
    max-height: 500px !important;
    min-height: min-content;
    
}





a {
    text-decoration: none;
    color: black;
}

.dBlock {
    display: block !important;
}

.dNone {
    display: none !important;
}

.container {
    width: 90%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


.scaleItem:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

/* sideBar */

.sideBar {

    transition: 0.5s;
    background: white;
    padding: 5px;
    width: max-content;
    min-height: 95vh;
    box-shadow: 1px 2px 20px #0000001e;

}

.bgb {
    background: blue
}



.sideBarBtn {
    background: linear-gradient(#004cff, #3800ff);
    border: none;
    color: white;
    border-radius: 5px;
    padding: 7px 10px;
    float: right;
    margin: 5px 15px;
    box-sizing: border-box;

}

.sideBarItem {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    background: white;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 2px 20px #00000036;
    padding: 0px 10px;
    margin: 10px 5px;
    cursor: pointer;
}

.sideBarItem .left {
    display: flex;
    align-items: center;
}

.sideBarItem i {
    margin-right: 10px;
}


@media screen and (max-width:768px) {
    .sideBar {
        position: absolute;
        top: 53px
    }
}

@media screen and (max-width:350px) {
    .navHead {
        display: none;
    }
}


html{
    scroll-behavior: smooth;
}


/* DropDown */

/* .dropDown:hover .dropList {
    display: block;
    opacity: 100%;
    transition: 0.5s;

} */


.dropList {

    width: fit-content;
    transition: all 0.3s;
    max-height: 0;
    opacity: 0;
    display: block;

}

.dropItem {

    width: 200px;
    background-color: #004cff;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 2px 20px #00000036;
    padding: 15px 10px;
    margin: 5px 5px;
    color: white;
    cursor: pointer;
    

}

.dropItem:hover {
    background-color: rgb(214, 207, 207);
    transition: 0.5s;
}


.sideBarItem i {
    flex-grow: 1;
    text-align: right;
}


/* navBar */


.navBar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 2px 5px;
    background: white;
    color: black;
    flex-grow: 1;
    border-radius: 5px;
    margin: 5px 15px;

}

.navLeft {
    display: flex;
    align-items: center;
}

.navLeft i,
.navRight i {
    margin: 0px 10px;
}



.navRight {}


.navSearch {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: wheat;

    flex-grow: 1;
}



.rightMain {
    flex-grow: 1;
}



.infoDiv {
    background: white;
    width: max-content;
    padding: 5px 10px;
    border-radius: 5px;

}

.infoIcon {
    width: fit-content;
}

.infoList {
    display: none;
}

#detForm{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: white;
    min-height: 70vh;
    align-items: flex-start;
}

#formContainer{
    background-color: rgb(5, 72, 216);
    border-radius:10px;
    padding: 5px 10px;
    
}

.detFormInputDiv{
    display: flex;
    flex-direction: column;
    width: 40%;
}
.detFormInput {
    padding: 7px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.24);
    margin: 3px;
    
}