body {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.8;
  font-weight: normal;
}

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  color: #3e64ff;
}

a:hover,
a:focus {
  text-decoration: none !important;
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

button {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

button:hover,
button:focus {
  text-decoration: none !important;
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  line-height: 1.5;
  font-weight: 400;
  font-family: "Poppins", Arial, sans-serif;
  color: #000;
}

.ftco-section {
  padding: 7em 0;
}

.ftco-no-pt {
  padding-top: 0;
}

.ftco-no-pb {
  padding-bottom: 0;
}

.heading-section {
  font-size: 28px;
  color: #000;
}

.heading-section small {
  font-size: 18px;
}

.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#content {
  width: 100%;
  padding: 0;
  min-height: 100vh;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.btn.btn-primary {
  background: #3e64ff;
  border-color: #3e64ff;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus {
  background: #3e64ff !important;
  border-color: #3e64ff !important;
}

.navbar {
  padding: 0px 20px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 20px;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

.wrapper {
  width: 100%;
}

/* SideBar */
#sidebar {
  min-width: 200px;
  max-width: 200px;
  background: #000000;
  color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#sidebar .logo {
  text-align: center !important;
  display: block;
  color: #fff;
  font-weight: 900;
  padding: 10px 30px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

#sidebar ul.components {
  padding: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

#sidebar ul li {
  font-size: 16px;
}

#sidebar ul li>ul {
  margin-left: 10px;
}

#sidebar ul li>ul li {
  font-size: 14px;
}

/* Links */
#sidebar ul li a {
  padding: 10px 30px;
  display: block;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#sidebar ul li a:hover {
  color: #fff;
}

#sidebar ul li.active>a {
  background: transparent;
  color: #fff;
}

#sidebar ul li a span {
  margin-right: 15px;
}

/* Buttons */
#sidebar ul li button {
  padding: 10px 30px;
  display: block;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#sidebar ul li button .fa {
  margin-right: 15px;
}

#sidebar ul button .badge {
  display: block;
  font-size: 12px;
}


/* SideBar Active */
#sidebar.active {
  min-width: 90px;
  max-width: 90px;
  text-align: center;
}

#sidebar.active .logo {
  padding: 5px 0;
}

#sidebar.active ul.components li {
  font-size: 10px;
}

#sidebar.active ul.components li a {
  padding: 10px 0;
}

#sidebar.active ul.components li a span {
  margin-right: 0;
  display: block;
  font-size: 24px;
}

#sidebar.active ul.components li button {
  padding: 10px 25px;
  font-size: 10px;
  color: white;
}

#sidebar.active ul.components li button .fa {
  margin-right: 0;
  display: block;
  font-size: 24px;
}

#sidebar.active ul.components button .badge {
  margin-left: 35px !important;
}

#sidebar.active .footer {
  display: none;
}


a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Dashboard */
.counter-box {
  display: block;
  background: #f6f6f6;
  padding: 20px 20px 20px;
  text-align: center;
  height: 140px !important;
  overflow: hidden;
}

.counter-box p {
  margin: 5px 0 0;
  padding: 0;
  color: #909090;
  font-size: 18px;
  font-weight: 500
}

.counter-box i {
  font-size: 60px;
  margin: 0 0 15px;
  color: #d2d2d2
}

.counter {
  display: block;
  font-size: 32px;
  font-weight: 700;
  color: #666;
  line-height: 28px
}

.counter-box.colored {
  background: #3acf87
}

.counter-box.colored p,
.counter-box.colored i,
.counter-box.colored .counter {
  color: #fff
}

.table_button .fa {
  font-size: 20px;
  color: black;
  cursor: pointer;
  width: 25px;
}

.footer {
  padding: 0 30px;
}

@media (prefers-reduced-motion: reduce) {
  #sidebar .logo {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }

  #sidebar ul.components {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}


@media (max-width: 991.98px) {
  #sidebar {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
    margin-left: -80px !important;
  }

  #sidebar img {
    display: none;
  }

  #sidebar.active img {
    display: block;
    margin-left: 15px;
  }

  #sidebar ul li a span {
    display: block;
  }

  #sidebar.active {
    margin-left: 0 !important;
  }


  #sidebar ul.components button .badge {
    display: none;
  }

  #sidebar.active ul.components button .badge {
    display: block;
  }

  #sidebarCollapse span {
    display: none;
  }

  .footer {
    display: none;
  }

  .card-body {
    padding: 0.5rem !important;
  }

  .collapse {
    margin: 0px !important;
    padding: 0px !important;
  }

  .container {
    padding: 0px !important;
    margin: 0px !important;
  }

}


.table_button .fa {
  font-size: 20px;
  color: black;
  cursor: pointer;
  width: 25px;
}







/* Ram's CSS Started */

/* General */

body {
  background:url('../im1.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  display: flex;
  font-size: 13px;
  flex-wrap: nowrap;
  font-family: Arial, Helvetica, sans-serif;
}


.backOverlay{
  height: 100vh;
  background-color: black;
  width: 100vw;
  position: absolute;
  opacity: 80%;
  z-index: -1;
}


.darkBg {
  background: #121212 !important;
  color: white !important;
}

.lightBg {
  background: white !important;
  color: black !important;
}


html {
  scroll-behavior: smooth;
}



.dropOpen {
  max-height: 700px !important;
  opacity: 1 !important;
}

.viewInputs {
  max-height: 700px !important;
  opacity: 1 !important;
}


.viewSide {
  max-width: 200px !important;
  opacity: 1 !important;
  padding: 5px !important;
}


a {
  text-decoration: none;
  color: black;
}

.dBlock {
  display: block !important;
}

.dNone {
  display: none !important;
}

.container {
  width: 90%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


.scaleItem:hover {
  transform: scale(1.1);
  transition: 0.5s;
}


.bgb {
  background: linear-gradient(#004cff, #3800ff);
  color: white;
}





/* Home */


.homeDiv{
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.homeTitle{
  font-size: 90px;
  padding: 10px;
  text-shadow: 0px 2px 10px black;
  border-radius: 10px;
  color: white;
  margin: 0;


}

.homePara{
  font-size: 25px;
  margin: auto;
  padding:5px;
  color: black;
  width: fit-content;
  border-radius: 5px;
  background-color: white;
}





/* sideBar */

.sideBar {

  transition: 0.5s;
  background: linear-gradient(white, rgb(206, 206, 206));
  padding: 5px;
  min-height: 98vh;
  box-shadow: 1px 2px 20px #0000001e;

}




.sideBarBtn {
  background: linear-gradient(#004cff, #3800ff);
  border: none;
  color: white;
  border-radius: 5px;
  padding: 7px 10px;
  float: right;
  margin: 5px 15px;
  box-sizing: border-box;

}

.sideBarItem {

  display: flex;
  border-radius: 5px;
  box-shadow: 1px 2px 20px #00000036;
  padding: 10px;
  cursor: pointer;
  justify-content: center;
  text-align: center;
  margin: 10px 0px
}

.sideBarItem:hover .sideBarItemToolTip {
  max-width: 1000px;
  opacity: 1;
}

.sideBarItemToolTip {
  max-width: 0;
  opacity: 0;
  transition: 0.5s;
  color: black;
  position: absolute;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  left: 60px;
}










/* DropDown */



.dropList {


  display: block;
  transition: 0.5s;
  max-height: 0;
  opacity: 0;
  position: absolute;
  left: 50px;
  background: white;
  border-radius: 5px;
  padding: 5px;


}

.dropItem {

  width: 200px;
  background-color: #004cff;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 2px 20px #00000036;
  padding: 15px 10px;
  margin: 5px 5px;
  color: white;
  cursor: pointer;


}

.dropItem:hover {
  background-color: rgb(214, 207, 207);
  transition: 0.5s;
}





/* dashBoard */

.dashBoard {
  flex-grow: 1;
}



/* navBar */


.navBar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 2px 5px;
  background: white;
  color: black;
  flex-grow: 1;
  border-radius: 5px;
  margin: 5px 15px;

}

.navHead {
  font-weight: 100;
}

@media screen and (max-width:600px) {
  .navHead {
      display: none;
  }
}


.navLeft {
  display: flex;
  align-items: center;
}

.navRight {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.navLeft i,
.navRight i {
  margin: 0px 10px;
}




.navSearch {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #004cff;
  flex-grow: 1;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.navSearchBtn:hover {
  background: linear-gradient(#004cff, #3700ffdc);
  cursor: pointer;
  color: white;

}

.navSearchBtn {
  padding: 12px;
  border: none;
  border-radius: 5px;

}







/* Upload Section */



.formDiv {
  box-shadow: 1px 2px 20px #0000001e;
  background: white;
  border-radius: 10px;
  margin: 5px 15px;
  padding: 10px;
  display: flex;
  min-height: 80vh;
}
.dashTitle{
  text-align: center;
}


#catoDiv {
  margin: 5px 10px;
  padding: 5px;
  width: 30%;

}
.formDiv p {
  font-weight: 500;
}

.formContainer {
  margin: 10px;

}

.inputDropDown {
  max-height: 0;
  opacity: 1;
  transition: 0.5s;
  z-index: 0;
  display: block;
}


#uploadSection{
  flex-grow: 1;
  transition: all 0.5s;
  padding: 10px;

}

.inputDropDown :focus-visible {
  background-color: #3800ff;
  display: none;
}

h3,h4{
  font-size: 17px !important;
  font-weight: 500 !important;
}


.inputCategory {
  padding: 5px;
  background-color: rgb(0, 65, 230);
  color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 1;
}


.bgSuccess{
  background-color: greenyellow;
}
.inputCategory p {
  margin: 3px 10px;
}

.inputDiv:hover {
  background: rgba(218, 221, 221, 0.27);
  transition: 0.5s;
  transform: scale(1.01);
}




.inputDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 15px;
  border-radius: 5px;
  margin: 5px 0px;
  background:none;

}

.inputDiv h3 {
  font-weight: 100;
}

.fileInputSpan input {

  position: fixed;
  opacity: 0;
  z-index: 0;
  max-width: 70px;
}


.fileInputSpan {
  background-color: #3800ff;
  padding: 7px;
  border-radius: 10px;
  border: none;
  color: white;
  display: inline-flex;
  align-items: center;
}


.fileInputSpan i {
  margin: 0px 5px;
}







/* View Files Page */

.filesContainer{
  display: flex;
  background-color: white;
  padding: 10px;
  margin: 5px 15px;
  border-radius: 10px;

}

.filesRow {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: column;
  
}

.fileDiv {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;

  justify-content:space-between;
}

.fileText {
  text-align: start;
  margin-right: 10px;
}

.fileTitle {
  font-size: large;
  margin: 0;
  padding: 0;
}

.filePara {
  font-size: smaller;
  margin: 0;
  padding: 0;
}

.fileIcons{

  display: flex;
  justify-content: space-between;
}

.fileIcons i{
  margin: 0px 5px;
}




.fileIcons i:hover{
  color: #3800ff;
  transition: 0.5s;
  transform: scale(1.1);
}
.fileIcons .icon:hover .fileToolTip{
  max-width: 1000px;
  opacity: 1;
}

.fileToolTip{
  max-width: 0;
  opacity: 0;
  transition: 0.5s;
  color: black;
  position: absolute;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  
}




/* Profile */



.profileDiv{
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin: 5px 15px;
}

.profileHead{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 10px;

}


.profileBtn{
  padding: 10px;
display: flex;
align-items: center;
border: none;
border-radius: 5px;
background: black;
color: white;
  
}

.profileBtn i{
  margin-right: 5px;
}
.profileHead h1{
  font-size: 50px;
}

.profileHead img{
  border-radius: 100px;
  border: 2px solid black;
  box-shadow: 1px 2px 20px #0000001e;
}
.profileText{
  background-color: rgb(223, 218, 218);
  border-radius: 10px;
  padding: 10px;
}

.profileList{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.profileItem{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profileItemLeft{
  display: flex;
  align-items: center;
}

.profileItemLeft i{
  margin-right: 5px;
}



/* Ram's CSS Ended */